.itemDetail {
    display: flex;
    width: 80vw;
    gap: none;
    margin-top: 1rem;
}

.imgDetail {
    display: grid;
    place-items: center;
    width: 80%;
    margin-top: 1rem;
    border-radius: 0.5rem;
}

.itemDetail > div:first-child {
    display: grid;
    place-items: center;
    width: 50%;
}

.itemDetail > div:last-child {
    padding: 1rem;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
}

.itemDetail > div:last-child > button {
    height: 3rem;
    width: 9rem;
    background-color: rgb(214, 214, 214);
    font-family: "IM Fell DW Pica", serif;
    font-size: 1rem;
    font-weight: 600;
    border-radius: 0.5rem;
    border: none;
    }

.itemDetail > div:last-child > button:hover {
    background-color: rgba(255, 255, 255, 0.411);
    cursor: pointer;
}